// Здесь описываем стандартные стили для всех элементов:
// container, row , flex
// Можно описать body/root
// font-family для всей страницы
// и т.д.

:root {
	background-color: $body-bg-color;
	font-family: 'Inter', 'Arial', sans-serif;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}
