@mixin font($size, $weight, $line-height, $letter-spacing, $color:black, $case:none) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
    text-transform: $case;
}

// ИСПОЛЬЗУЕМ:

// .title {
// 	@include font($font-xl, $font-bold, 44px, -0.4px, $color-white);
//  и др...
// }
