@mixin font($size, $weight, $line-height, $letter-spacing, $color: $color-white, $case: none) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	color: $color;
	text-transform: $case;
}
