// Colors
$color-accent: #5E5CE6;
$color-light-gray:#4F4E54;
$color-gray:#353434;
$color-dark-gray:#2A2A2B;
$color-bg: #1b1b1d;
$color-white: #F7F7F7;
$color-bg-footer: #080814;
$color-bg-footer-text: #96A8B8;

// Sizes
$screen-size-sm: 576px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1280px;
$screen-size-xxl: 1440px;
$heading-size-h1: 56px;
$heading-size-h2: 36px;
$primary-size-text: 16px;
$second-size-text: 14px;

//Fonts size
$font-xs: 14px;
$font-s: 16px;
$font-m: 18px;
$font-ml: 20px;
$font-l: 32px;
$font-xl: 40px;
$font-xxl: 48px;

//Fonts weight
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

// Break points
// $mobile: 576px;
// $tablet: 768px;
// $desktop: 990px;
