.calculator {
	padding: 0 40px 0;
	margin: 0 auto;

	&__container {
		max-width: 1200px;
		margin: 0 auto;
		background-color: $color-bg-dark-gray;
		border-radius: 32px;
		padding: 16px;
		min-height: 364px;
		box-sizing: border-box;
	}
	&__title {
		max-width: 1200px;
		margin: 0 auto 40px;
	}
	&__products {
		background-color: $color-bg-gray;
		border-radius: 18px;
		display: flex;
		justify-content: center;
		position: relative;
	}
	&__product {
		@include font($font-size-other, $font-weight-bold, 36px, 0, $color-text-light-gray);
		width: 100%;
		text-align: center;
		padding: 18px;
		z-index: 2;
		cursor: pointer;
		transition: color 0.3s linear;
		&_active {
			color: $color-text-white;
		}
	}
	&__slider {
		border: 2px solid $color-bg-gray;
		box-sizing: border-box;
		position: absolute;
		background-color: $color-bg-light-gray;
		height: 100%;
		width: 50%;
		top: 0;
		left: 0;
		z-index: 1;
		border-radius: 16px;
		transition: left 0.3s linear;
		&_position {
			&_right {
				left: 50%;
			}
		}
	}
	&__calculation {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 16px;
		padding-top: 16px;
		// height: 264px;
		height: 256px;
	}
	&__items {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 12px;
	}
	&__results {
		box-sizing: border-box;
		width: 100%;
		max-width: 568px;
		padding: 24px;
		background-color: $color-bg-gray;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 240px;
	}
	&__results-display {
		margin-top: 14px;
		display: flex;
		flex-direction: row;
		gap: 36px;
	}
	&__result {
		width: 111px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		text-wrap: nowrap;
	}
	&__result-name {
		@include font($font-size-xs, $font-weight-medium, 18px, normal, $color-text-light-gray);
		text-wrap: nowrap;
	}
	&__result-value {
		@include font($font-size-s, $font-weight-bold, 20px, -0.16px, $color-text-white);
		overflow: hidden;
		text-overflow: ellipsis;
		&_isLoading {
			color: transparent;
			text-shadow: 0 0 10px $color-text-white;
			-webkit-transition: text-shadow 2 ease-out;
			-moz-transition: text-shadow 2 ease-out;
			-ms-transition: text-shadow 2 ease-out;
			-o-transition: text-shadow 2 ease-out;
			transition: text-shadow 2 ease-out;
		}
	}
}

@include tablet {
	.calculator {
		padding: 0 40px 0;
		margin: 0 auto;

		&__container {
			// min-height: 556px;
		}

		&__calculation {
			// flex-direction: column;

			// min-height: 432px;
			// gap: 36px;
		}

		&__results {
			max-width: calc(50% - 16px);
			//ошибка в макете для display
			text-align: center;
		}

		&__results-display {
			//ошибка в макете для display, компенсирую уменьшая gap
			gap: 15px;
		}
	}
}

@include tablet-xs {
	.calculator {
		&__container {
			height: 556px;
		}

		&__calculation {
			flex-direction: column;
			height: 448px;
			gap: 36px;
		}

		&__results {
			max-width: 100%;
			//ошибка в макете для display
			text-align: left;
			// height: 240px;
		}

		&__results-display {
			//ошибка в макете для display, компенсирую уменьшая gap
			gap: 36px;
		}
	}
}

@include mobile {
	.calculator {
		padding: 0 24px 0;
		margin: 0 auto;

		&__container {
			height: 536px;
		}

		&__title {
			margin: 0 auto 24px;
			@include font($font-size-other, $font-weight-bold, 28px, -0.28px, $color-text-white);
		}

		&__calculation {
			height: 428px;
			// padding-top: 0;
			gap: 16px;
		}

		&__products {
			height: 76px;
			align-items: center;
		}

		&__product {
			@include font($font-size-m, $font-weight-bold, 22px, -0, 18px, $color-text-light-gray);
			&_active {
				color: $color-text-white;
			}
		}

		&__results-display {
			//ошибка в макете для display, компенсирую уменьшая gap
			gap: 16px;
		}

		&__result-name {
			@include font($font-size-xxs, $font-weight-medium, 16px, normal, $color-text-light-gray);
		}

		&__result-value {
			@include font($font-size-xs, $font-weight-bold, 18px, -0.14px, $color-text-white);
		}
	}
}

@include mobile-xs {
	.calculator {
		padding: 0 16px 0;
		margin: 0 auto;

		&__container {
			height: 624px;
		}

		&__products {
			height: 44px;
		}

		&__product {
		}

		&__calculation {
			height: 548px;
			// margin-top: 66px;
		}

		&__results {
			height: 360px;
			// gap: 66px;
			// align-items: flex-start;
		}

		&__results-display {
			margin-top: 0;
			gap: 36px;
			flex-direction: column;
			align-self: flex-start;
			// justify-content: start;
		}

		&__result-name {
		}

		&__result-value {
		}
	}
}
