.deposits-card-list {
	display: flex;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 130px;
	align-items: center;
	flex-direction: column;
	max-width: 1280px;

	&__filter {
		display: flex;
		margin-bottom: 40px;
		align-items: center;
		align-self: flex-start;
	}

	// &__card-container {
	// 	margin: 32px auto 24px auto;
	// 	max-width: 1200px;
	// 	width: calc(100% - 80px);
	// 	background-color: $color-bg-dark-gray;
	// 	border-radius: 40px;
	// 	padding: 25.5px 24px 25.5px 25px;
	// 	display: flex;
	// }

	&__select {
		background-color: $color-bg-body-black;
		color: $color-text-light-gray;
		border: none;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	&__button {
		width: 24px;
		height: 24px;
		margin-left: 4px;
		border: none;
		background: none;
		background-image: url(../../images/icons/diposit__arrow.svg);
	}

	&__button-more {
		margin-top: 32px;
		width: fit-content;
		background: #2d2d31;
		padding: 14px 24px;
		border: none;
		outline: none;
		border-radius: $primary-border-radius;
		text-decoration: none;
		@include font($font-size-s, $font-weight-bold, 20px, 0px, $color-text-white);
		cursor: pointer;
		transition: background 0.3s;

		&:hover {
			opacity: 0.8;
		}
	}
}