.deposit-filter {
    margin: 0 auto;
    padding: 24px 24px;
    max-width: 1200px;
    border-radius: 40px;
    background-color: #232325;


    &__form {

    }

    &__inputs {

    }

    &__submit {

    }

    &__checkboxes {

    }
}
