.deposits-card {
	margin: 32px auto 24px auto;
	max-width: 1200px;
	width: calc(100% - 80px);
	background-color: $color-bg-dark-gray;
	border-radius: 40px;
	padding: 25.5px 24px 25.5px 25px;
	display: flex;

	&:last-child {
		margin-bottom: 32px;
	}

	&__about-bank-text {
    display: flex;
		flex-direction: column;
	}

	&__tags {
		display: flex;
		height: 25px;
		margin: 6px 8px 0 13px;
	}

	&__tags-text {
		@include font($font-size-xxs, $font-weight-medium, 14px, normal, $color-text-white);
		display: flex;
		align-items: center;
		padding: 5px 8px;
		border-radius: 16px;
		background-color: $color-bg-gray;
		border-radius: 16px;
    height: 15px;
		margin-right: 8px;
	}

	&__tags-image::before {
		content: '';
		width: 24px;
		height: 24px;
		padding: 0;
		background-image: url('../../images/icons/top-contribution-icon.svg');
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 3.5px;
	}

	&__about-contribution {
		width: 91.572%;
		// display: flex;
		min-height: 100px;
		// justify-content: space-between;
	}

	&__about-bank {
		display: flex;
		flex-direction: row;
	}

	&__bank-image {
		width: 97px;
		height: 97px;
		border-radius: 24.25px;
	}

	&__about-bank-text {
		max-width: 318px;
		margin: 11px 0 0 12px;
	}

	&__about-bank-name {
		@include font($font-size-other, $font-weight-bold, 28px, -0.1px, $color-text-white);
		margin-bottom: 5px;
	}

	&__about-bank-bid {
		@include font($font-size-s, $font-weight-medium, 20px, normal, $color-text-light-gray);
	}

	&__about-money {
		display: flex;
		max-width: 68.311%;
		// min-width: 584px;
		// max-width: 720px;
		// max-width: 100%;
		// margin: 9px 0 4px 0;
		margin: 4px 0 4px auto;
		// margin-top: 9px;
		// margin-right: 50px;
		// margin-bottom: 4px;
		// margin-left: min(80px, 1%);
		max-height: 56px;
	}

	&__about-money-list {
		min-width: 140px;
		// width: 19.444%;
		max-height: 56px;
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__information {
		@include font($font-size-s, $font-weight-medium, 20px, normal, $color-text-light-gray);
		margin-bottom: 8.63px;
	}

	&__term,
	&__rate,
	&__income,
	&__sum {
		@include font($font-size-other, $font-weight-bold, 28px, normal, $color-text-white);
	}

	// &__term,
	// &__rate,
	// &__income {
	// 	margin-right: 56px;
	// }

	&__link {
		display: flex;
		width: 64px;
		height: 64px;
		background-image: url('../../images/button-defosits.svg');
		text-decoration: none;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: opacity 0.5s;
		margin: 3.5px 0 20px auto;
		padding: 0;

		&:hover {
			opacity: 0.6;
			transition: opacity 0.5s;
		}
	}
}

@include tablet {
  .deposits-card {

		&__about-contribution {
			height: 104px;
		}

		&__about-bank-text {
			max-width: 148px;
			margin-top: 19px;
		}

		&__about-bank-name {
			@include font($font-size-ml, $font-weight-bold, 24px, -0.1px, $color-text-white);
			margin-top: 0;
		}

		&__about-money {
			margin-top: 10px;
		}

		&__about-money-list {
			min-width: 105px;
			margin-right: 4px;
		}

		&__term,
		&__rate,
		&__income,
		&__sum {
			@include font($font-size-m, $font-weight-bold, 22px, normal, $color-text-white);
		}
	}


}

@include tablet-xs {
	.deposits-card {
		padding: 16px;

		&__about-bank {
			flex-direction: column;
		}

		&__about-bank-text {
      margin-top: 11px;
			min-width: 200px;
		}

		&__about-money {
			margin: 16px 0 0 -92px ;
			
		}

		&__about-contribution {
			min-height: 177px;
		}

		&__about-bank-name {
			@include font($font-size-other, $font-weight-bold, 28px, -0.1px, $color-text-white);
      
		}

		&__link {
			margin-top: -65px;
		}
	}
}

@include mobile {
	.deposits-card {

		&__about-money-list {
			margin-right: 16px;
		}

		&__link {
			visibility: hidden;
		}
}
}
@include mobile-xs {
	.deposits-card {

		&__about-money-list {
			// display:block;
			// width:49%;
			// float:left;
		}
	}
}