.footer {
	background-color: $color-bg-black;
	margin: 8px 8px 0 8px;
	border-radius: 8px;

	&__container {
		display: flex;
		justify-content: space-between;
		width: 1264px;
		margin: 0 auto;
	}

	&__specification {
		max-width: 294px;
		margin: 40px 0 40px 32px;
	}

	&__logo {
		display: flex;
		width: 139px;
		height: 24px;
		background-image: url('../../images/logo.svg');
		transition: opacity 0.3s;
		flex-shrink: 0;
		text-decoration: none;

		&:hover {
			opacity: 0.8;
		}
	}

	&__description {
		@include font($font-size-s, $font-weight-medium, 20px, -0.1px, $color-text-light-gray);
		margin: 12px 0 164px 0;
	}

	&__copyright {
		@include font($font-size-s, $font-weight-medium, 20px, normal, $color-text-gray);
	}

	&__information {
		display: flex;
		flex-direction: column;
		max-width: 714px;
		margin: 40px 32px 40px 0;
	}

	&__column {
		display: flex;
		margin: 0 0 56px 338px;
	}

	&__navigation {
		&:first-child {
			margin-right: 36px;
		}

		display: flex;
		flex-direction: column;
		width: 170px;
	}

	&__navigation-link {
		@include font($font-size-s, $font-weight-medium, 20px, normal, $color-text-light-gray);

		width: 170px;
		margin-bottom: 12px;
		text-decoration: none;
		transition: color 0.3s;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			color: $color-text-white;
		}
	}

	&__for-user {
		display: flex;
		margin: 0 0 33px 0;
	}

	&__for-user-link {
		@include font($font-size-s, $font-weight-medium, 20px, -0.1px, $color-text-light-gray);
		text-decoration: none;
		transition: color 0.3s;
		margin-right: 40px;

		&:hover {
			color: $color-text-white;
		}
	}

	&__for-user-number {
		@include font($font-size-s, $font-weight-medium, 20px, -0.1px, $color-text-light-gray);
	}

	&__footnote {
		max-height: 36px;
	}

	&__footnote-text {
		@include font($font-size-xxs, $font-weight-medium, 16px, -0.1px, $color-text-gray);
	}
}