.header {
	background: $color-bg-dark-gray;
	border-radius: 8px;
	margin: 8px 8px 0 8px;
	box-shadow: 0px 0px 8px 0px rgba(28, 28, 30, 0.15);
	z-index: 1000;
	&__container {
		max-width: 1280px;
		margin: 0 auto;
		padding: 16px 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		width: 141px;
		height: 24px;
		background: url('../../images/logo.svg') no-repeat center/cover;
		transition: opacity 0.3s;
		flex-shrink: 0;
		text-decoration: none;
		&:hover {
			opacity: 0.8;
		}
	}

	&__buttons {
		display: flex;
		gap: 16px;
	}

	&__search-btn,
	&__profile-btn,
	&__burger-btn {
		width: 40px;
		height: 40px;
		background-color: $color-bg-gray;
		border: none;
		outline: none;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		cursor: pointer;
		transition: opacity 0.3s;
	}

	&__search-btn {
		background-image: url('../../images/icons/search-icon.svg');
		&:hover {
			opacity: 0.8;
		}
	}

	&__profile-btn {
		background-image: url('../../images/icons/profile-icon.svg');
		text-decoration: none;
		&:hover {
			opacity: 0.8;
		}
	}

	&__burger-btn {
		background-image: url('../../images/icons/burger-menu-icon.svg');
		display: none;
	}
}

@media screen and (min-width: 1281px) {
	.header {
		&__container {
			padding: 16px 40px;
		}
	}
}

@include tablet-xs {
	.header {
		&__buttons {
			gap: calc((100vw - 769px) / (950 - 769) * (16 - 10) + 10px);
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		&__buttons {
			gap: 16px;
		}

		&__search-btn {
			display: none;
		}

		&__burger-btn {
			display: flex;
		}
	}
}

@include mobile {
	.header {
		&__container {
			padding: 16px;
		}
	}
}

@include mobile-xs {
	.header {
		&__container {
			padding: 16px 8px;
		}
	}
}
