.page-not-found {
	max-width: 582px;
	margin: 0 auto;
	padding: 92px 0;
	box-sizing: border-box;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__img {
		width: 408px;
		height: 296px;
		padding: 58px;
		background: $color-bg-dark-gray;
		border-radius: $primary-border-radius;
		margin-bottom: 36px;
	}

	&__title {
		@include font($font-size-xl, $font-weight-bold, 44px, -0.4px, $color-text-white);
		margin-bottom: 20px;
		text-align: center;
	}

	&__subtitle {
		max-width: 582px;
		@include font($font-size-s, $font-weight-bold, 24px, -0.16px, $color-text-light-gray);
		text-align: center;
		margin-bottom: 44px;
	}

	&__btn {
		padding: 14px 24px;
		background: $color-bg-dark-gray;
		border-radius: $primary-border-radius;
		@include font($font-size-s, $font-weight-bold, 20px, normal, $color-text-white);
		text-decoration: none;
		border: none;
		outline: none;
		cursor: pointer;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

@media screen and (max-width: 768px) {
	.page-not-found {
		max-width: 480px;
	}
}

@media screen and (max-width: 576px) {
	.page-not-found {
		max-width: 288px;

		&__img {
			width: 288px;
			height: 180px;
			padding: 24px;
		}

		&__subtitle {
			@include font($font-size-xs, $font-weight-medium, 18px, normal, $color-text-light-gray);
		}
	}
}
