.prod-card {
	&__wide {
		margin: 0;
		padding: 24px;
		position: relative;
		min-width: calc(67.2% - 18px);
		max-width: 788px;
		min-height: 253px;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		text-decoration: none;

		background-color: $color-bg-dark-gray;
		background-image: url('../../images/credit-png.png');
		background-size: 471px 187px;
		background-position: right bottom;
		background-repeat: no-repeat;
		transition: background-size 0.3s, background 0.3s;

		&:last-of-type {
			background-image: url('../../images/deposit-png.png');
			background-size: 450px 176px;
			transition: background-size 0.3s, background 0.3s;
		}

		&:hover {
			background-size: calc(471px * 1.2) calc(187px * 1.2);
			background-color: $color-bg-gray;
		}

		&:last-of-type:hover {
			background-size: calc(450px * 1.2) calc(176px * 1.2);
		}
	}

	&__slim {
		margin: 0;
		padding: 24px;
		position: relative;
		min-width: calc(32.8% - 18px);
		max-width: 376px;
		min-height: 253px;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		text-decoration: none;

		//задают неактивность
		background-color: rgba($color-bg-dark-gray, 0.3);
		pointer-events: none;
		opacity: 0.3;
	}

	&__icon {
		position: absolute;
		width: 36px;
		top: 24px;
		right: 24px;
	}

	&__title {
		margin: auto 0 8px;
		padding: 0;
		@include font($font-size-other, $font-weight-bold, 28px, -0.24px, $color-text-white);
	}

	&__text {
		max-width: 268px;
		@include font($font-size-s, $font-weight-medium, 20px, -0.16px, $color-text-light-gray);
	}
}

@include tablet {
	.prod-card {
		&__wide {
			max-width: 548px;
			min-width: calc(59% - 18px);
			min-height: 253px;

			background-image: url('../../images/credit-png-l.png');
			background-size: 231px 187px;

			&:last-of-type {
				background-image: url('../../images/deposit-png-l.png');
				background-size: 210px 176px;
			}

			&:hover {
				background-size: calc(231px * 1.2) calc(187px * 1.2);
			}
	
			&:last-of-type:hover {
				background-size: calc(210px * 1.2) calc(176px * 1.2);
			}
		}

		&__slim {
			min-width: calc(41% - 18px);
			min-height: 253px;
		}
	}
}

@include tablet-xs {
	.prod-card {
		&__wide {
		}
		
		&__slim {
		}

		&__icon {

		}

		&__title {	
		}

		&__text {
		}
	}
}

@include mobile {
	.prod-card {
		&__wide {
			padding: 16px;
			max-width: 260px;
			min-width: calc(50% - 4px);
			min-height: 183px;

			background-image: url('../../images/credit-png-s.png');
			background-size: 125px 127px;
			background-position: right top;
			order: 1;

			&:last-of-type {
				background-image: url('../../images/deposit-png-s.png');
				background-size: 125px 122px;
				// transition: background-size 0.3s, background 0.3s;
				order: 2;
			}

			&:hover {
				background-size: calc(125px * 1.2) calc(127px * 1.2);
			}
	
			&:last-of-type:hover {
				background-size: calc(125px * 1.2) calc(122px * 1.2);
			}
		}
		
		&__slim {
			padding: 16px;
			max-width: 260px;
			min-width: calc(50% - 4px);
			min-height: 183px;
			order: 4;
			
			&:last-of-type {
				order: 3;
			}
		}

		&__icon {
			display: none;
		}

		&__title {
			margin: auto 0 0;
			@include font($font-size-m, $font-weight-bold, 22px, -0.18px, $color-text-white);
		}

		&__text {
			display: none;
		}
	}
}

@include mobile-xs {
	.prod-card {
		&__wide {
			max-width: 140px;
			min-height: 161px;
			background-image: url('../../images/credit-png-xs.png');
			background-size: 64px 84px;
			background-position: right top;

			&:last-of-type {
				background-image: url('../../images/deposit-png-xs.png');
				background-size: 64px 84px;
				background-position: right top;
			}

			&:hover {
				background-size: calc(64px * 1.2) calc(84px * 1.2);
			}

			&:last-of-type:hover {
				background-size: calc(64px * 1.2) calc(84px * 1.2);
			}
		}
		
		&__slim {
			max-width: 140px;
			min-height: 161px;
		}

		&__title {
			@include font($font-size-s, $font-weight-bold, 20px, -0.16px, $color-text-white);
		}
	}
}
