.product-cards {
	margin: 0 auto;
	padding: 130px 0 130px;
	display: flex;
	flex-direction: column;
	max-width: 1200px;

	&__title {
		margin: 0 0 44px;
		font-size: 40px;
		line-height: 44px;
		text-align: left;
		font-weight: 600;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 36px;
		justify-content: space-between;
	}
}
