.product-cards {
	margin: 0 auto;
	padding: 130px 0 130px;
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	width: calc(100% - 80px);

	&__title {
		@include font($font-size-xl, $font-weight-bold, 44px, -0.4px, $color-text-white);
		margin: 0 0 44px;
		text-align: left;
		max-width: 50%;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 36px;
		justify-content: space-between;
	}
}

@include tablet {
	.product-cards {
		padding: 110px 0 110px;

		&__title {
			margin: 0 0 40px;
		}
	}
}

@include tablet-xs {
	.product-cards {
		padding: 80px 0 80px;
	}
}

@include mobile {
	.product-cards {
		width: calc(100% - 48px);
		padding: 90px 0 90px;

		&__title {
			@include font($font-size-other, $font-weight-bold, 28px, -0.28px, $color-text-white);
			margin: 0 0 24px;
		}

		&__container {
			gap: 8px;
		}
	}
}

@include mobile-xs {
	.product-cards {
		width: calc(100% - 32px);
		padding: 48px 0 48px;

		&__title {
			margin: 0 0 16px;
		}
	}
}
