@import '../index.scss';

.slider {
	max-width: 1280px;
	min-height: 500px;
	margin: 0 auto;
	padding: 40px 40px 0;
	&__container {
		width: 100%;
		min-height: 500px;
		border-radius: $primary-border-radius;
		background: $color-bg-dark-gray;
		margin-bottom: 58px;
		background-repeat: no-repeat;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 0px 8px 0px rgba(28, 28, 30, 0.15);
		overflow: hidden;
	}
	&__credits {
		background-image: url('../../images/bg-slider-credits.png');
		background-size: cover;
		background-position: bottom right;
	}

	&__deposits {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url('../../images/bg-slider-deposits.png');
			background-size: cover;
			mix-blend-mode: luminosity;
		}
	}

	&__credit-card,
	&__debit-card {
		opacity: 0.3;
	}

	&__content {
		max-width: 615px;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 2;
	}

	&__title {
		@include font($font-size-xxxl, $font-weight-bold, 68px, -0.64px, $color-text-white);
		text-align: center;
		margin-bottom: 16px;
	}

	&__subtitle {
		max-width: 491px;
		@include font($font-size-s, $font-weight-bold, 20px, -0.16px, $color-text-light-gray);
		text-align: center;
		margin-bottom: 40px;
	}
}

.swiper-button-prev,
.swiper-button-next {
	margin-top: -78px;
	transition: background 0.3s;
	height: 100px;
	width: auto;
	border-radius: $primary-border-radius;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	width: 100px;
	height: 100px;
	background-image: url('../../images/icons/arrow-slider-icon.svg');
	background-size: 80px 80px;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	opacity: 0.3;
	transition: opacity 0.3s;
}

.swiper-button-prev::after {
	transform: rotate(180deg);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
	opacity: 1;
}

.slider__swiper > .swiper-pagination-horizontal {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $color-bg-dark-gray;
	padding: 8px 12px;
	border-radius: 50px;
	left: 50%;
	transform: translateX(-50%);
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background: $color-text-light-gray;
	border-radius: 50px;
	flex-shrink: 0;
}

.swiper-pagination-bullet-active {
	background: $color-text-white;
}
