.support-chat-form {
	position: fixed;
	bottom: 34px;
	right: 16px;
	width: 372px;
	padding: 24px;
	background-color: $color-bg-black;
	border-radius: $primary-border-radius;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 0.3s ease-out, transform 0.3s ease-out;
	z-index: -1;

	&_open {
		opacity: 1;
		transform: translateY(0);
		z-index: 1;
	}

	&__success {
		box-sizing: border-box;
		min-height: 201px;
		background-image: url('../../images/success.png');
		background-repeat: no-repeat;
		background-size: 124px 113px;
		background-position: center top;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 12px;
		text-align: center;
	}

	&__close-btn {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 24px;
		height: 24px;
		background: none;
		background-image: url('../../images//icons/close-btn-icon.svg');
		background-size: 24px 24px;
		background-position: center;
		background-repeat: no-repeat;
		border: none;
		outline: none;
		border-radius: $primary-border-radius;
		cursor: pointer;
		transition: opacity 0.3s;
		&:hover {
			opacity: 0.8;
		}
	}

	&__title {
		@include font($font-size-mml, $font-weight-bold, 32px, -0.28px, $color-text-white);
	}

	&__title-success {
		@include font($font-size-l, $font-weight-bold, 36px, normal, $color-text-white);
	}

	&__subtitle-success {
		@include font($font-size-s, $font-weight-medium, 20px, -0.192px, $color-text-light-gray);
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__input,
	&__textarea {
		padding: 14px;
		@include font($font-size-s, $font-weight-medium, 20px, -0.16px, $color-text-white);
		border: none;
		outline: 1px solid transparent;
		border-radius: 12px;
		background: $color-bg-gray;
		transition: outline 0.3s;
		&::placeholder {
			@include font($font-size-xs, $font-weight-medium, 20px, -0.16px, $color-text-light-gray);
		}
		&:focus {
			outline: 1px solid $color-text-light-gray;
		}
		&_error {
			outline-color: $color-error;
		}
	}

	&__textarea {
		height: 148px;
		resize: none;
	}

	&__error-message,
	&__error-submit {
		@include font($font-size-xxs, $font-weight-medium, 14px, normal, $color-error);
		min-height: 16px;
	}

	&__error-submit {
		margin-top: 4px;
	}

	&__label {
		@include font($font-size-xxs, $font-weight-medium, 14px, normal, $color-text-light-gray);
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: opacity 0.3s;
		&:hover {
			.checkbox:not(:checked)::before {
				opacity: 0.3;
			}
		}
	}

	&__link-agree {
		@include font($font-size-xxs, $font-weight-medium, 14px, normal, $color-text-light-gray);
		text-decoration: underline;
		transition: color 0.3s;
		&:hover {
			color: $color-text-white;
		}
	}

	&__submit-btn {
		width: 100%;
		// margin-top: 4px;
	}
}
