// Colors
$primary-bg-color: #131313;
$second-bg-color: #f2f2f2;
$body-bg-color: #fff;
$primary-text-color: #0f0f0f;
$second-text-color: #6a6a6a;

// Sizes
$screen-size-sm: 576px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1280px;
$screen-size-xxl: 1440px;
$heading-size-h1: 56px;
$heading-size-h2: 36px;
$primary-size-text: 16px;
$second-size-text: 14px;
